$primary : #49F4FF;
$success : #86FF05;
$info : #32C5FF;
$warning : #F7B500;
$danger : #FF0000;
$fff : #fff;
$replace : #6FF1E6;

$colorList: $primary, $success, $info, $warning, $danger, $fff, $replace;
$colorKey: 'primary', 'success', 'info', 'warning', 'danger', 'fff', 'replace';
