@charset "utf-8";
@import 'variable';

body, button, h1, h2, h3, h4, h5, h6, html, img, input, li, ol, p, textarea, ul {
  padding: 0;
  margin: 0;
  word-break: break-all;
}

body, html, ul, li, div, p, span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #fff;
}

/* 使用webkit内核的浏览器 */
:-moz-placeholder {
  color: #fff;
}

/* Firefox版本4-18 */
::-moz-placeholder {
  color: #fff;
}

/* Firefox版本19+ */
:-ms-input-placeholder {
  color: #fff;
}

/* IE浏览器 */
li, ol, ul {
  list-style: none
}

i {
  font-style: inherit
}

html, body {
  font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑", Helvetica, "Helvetica Neue", "Hiragino Sans GB", Arial, sans-serif;
  width: 100%;
  height: 100%;
  color: #333;
  background: #030F20;

  .iconfont {
    font-size: 1em;
  }
}

#app {
  min-width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: default;
}

.c-p {
  cursor: pointer !important;
}

.f-l {
  float: left
}

.f-r {
  float: right
}

.t-c {
  text-align: center
}

.t-r {
  text-align: right
}

.t-l {
  text-align: left
}

.f-w-n {
  font-weight: normal;
}

.f-w-b {
  font-weight: bold;
}

button, input, textarea {
  border: none;
  outline: none
}

// f-12 w-100 h-100 l-h-12
@for $i from 1 through 100 {
  .w-#{10 * $i} {
    width: (10px * $i) !important
  }
  .h-#{10 * $i} {
    height: (10px * $i) !important
  }
  .f-#{1 + $i} {
    font-size: #{1 + $i}px !important
  }
}

.f-10 {
  font-size: 12px;
  transform: scale(.8);
  transform-origin: center;
}

// m-8
@for $i from 1 through 20 {
  .m-#{4 * $i} {
    margin: (4px * $i)
  }
  .m-l-#{4 * $i} {
    margin-left: (4px * $i)
  }
  .m-r-#{4 * $i} {
    margin-right: (4px * $i)
  }
  .m-t-#{4 * $i} {
    margin-top: (4px * $i)
  }
  .m-b-#{4 * $i} {
    margin-bottom: (4px * $i)
  }
  .p-#{4 * $i} {
    padding: (4px * $i)
  }
  .p-l-#{4 * $i} {
    padding-left: (4px * $i)
  }
  .p-r-#{4 * $i} {
    padding-right: (4px * $i)
  }
  .p-t-#{4 * $i} {
    padding-top: (4px * $i)
  }
  .p-b-#{4 * $i} {
    padding-bottom: (4px * $i)
  }
  .t-i-#{4 * $i} {
    text-indent: (4px * $i)
  }
  .l-h-#{4 * $i} {
    line-height: (4px * $i)
  }
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;

  &.r-reverse {
    flex-direction: row-reverse
  }

  // 左右布局 反方向
  &.c-reverse {
    flex-direction: column-reverse
  }

  // 上下布局 反方向$peop
  &.column {
    flex-direction: column
  }

  // 居左
  &.start {
    justify-content: flex-start
  }

  // 居右
  &.end {
    justify-content: flex-end
  }

  // 居中
  &.around {
    justify-content: space-around
  }

  // 居中
  &.center {
    justify-content: center
  }

  // 居中 容器之间有空白
  &.between {
    justify-content: space-between
  }

  // 居中 容器左右有空白
  &.evenly {
    justify-content: space-evenly
  }

  // 允许换行
  &.wrap {
    flex-wrap: wrap
  }

  // 不允许换行
  &.nowrap {
    flex-wrap: nowrap;
  }

  &.alignStart {
    align-items: start;
  }

  // 超出换行
  > .c-start {
    align-self: start
  }

  // 父集align-items不生效 改为start
  > .x-flex-a {
    flex: auto;
    width: 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch
  }

  > .x-auto {
    flex: auto
  }
}

// 背景色 字体颜色 svg颜色
@each $c in $colorKey {
  $i: index($colorKey, $c);
  .c-#{$c} {
    color: nth($colorList, $i);
  }
  .f-#{$c} {
    fill: rgba(nth($colorList, $i), .8);
  }
  .bg-#{$c} {
    background: nth($colorList, $i);
  }
}


.textcut {
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 文字 溢出 隱藏  自定義 展示多少行
@for $i from 2 through 6 {
  .textcut#{$i} {
    -webkit-box-orient: vertical;
    overflow: hidden !important;;
    display: -webkit-box !important;
    -webkit-line-clamp: $i;
    word-break: break-all;
  }
}


// 滚动条自定义样式
.el-table__body-wrapper::-webkit-scrollbar, .scroll::-webkit-scrollbar {
  width: 4px; /*对垂直流动条有效*/
  height: 4px; /*对水平流动条有效*/
}

/*定义滚动条的轨道颜色、内阴影及圆角*/
.el-table__body-wrapper::-webkit-scrollbar-track, .scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 216, 255, 0.5);
  background-color: rgba(0, 216, 255, 0.5);
  border-radius: 3px;
}

/* 设置滚动条的样式 */
.scroll {
  overflow-y: auto;
}

/* 滚动槽 */
.el-table__body-wrapper::-webkit-scrollbar-track, .scroll::-webkit-scrollbar-track {
  background: rgba(0, 216, 255, 0.1);
  border-radius: 10px;
}

/*定义滑块颜色、内阴影及圆角*/
.el-table__body-wrapper::-webkit-scrollbar-thumb, .scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 216, 255, 0.5);
  background-color: rgba(46, 169, 238, 0.5);
}

.el-table__body-wrapper::-webkit-scrollbar-track-piece, .scroll::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 216, 255, 0.2);
}

// 高德样式
.amap-logo {
  opacity: 0;
}
.amap-marker-content {
  white-space: initial !important;
}
